%section.greeting
  .content
    %h1 Hi, I'm Brian
    = image_tag("brian1.jpeg", :class => "profile-pic", :height => "365px", :width => "365px")
    %p
      I have proficiency in Rails, SQL, HTML, CSS, HAML, JavaScript and jQuery and am currently experimenting with Angular.JS (I love it). Before becoming a web developer, I worked in User Research and Creative Strategy, both of which inform my web development philosophy.

