%section.greeting
  .content
    %h1 Hi, I'm Brian
    .profile-pic-container
      = image_tag("brian1.png", :class => "profile-pic")
    %p.blurb
      I'm a web developer living in San Francisco. I have proficiency in Rails, SQL, HTML, CSS, HAML, JavaScript and jQuery and am learning Angular.JS. Before becoming a web developer, I worked in User Research and Creative Strategy, both of which inform my web development philosophy.
