
<div class='container'>
	
	<section class='greeting'>
		<h1>Brian Schroer</h1>
		<h3>User-Centered Web Developer</h3>
<!-- 		<div class="blurb">
 -->			<p>
				I'm a web developer with extensive experience in Ruby on Rails, SQL, JavaScript, Angular.JS, Underscore.JS, Node.JS, HTML, CSS and HTML. I believe in creating beautiful, useful and unique web applications and have worked in User Research and Creative Strategy, which inform my web development philosophy.
			</p>
<!-- 		</div>
 -->	</section>
	
	<section class='about-me'>
		<h1>Work</h1>
	</section>
	<section class='work'>

	</section>

	<section class='get-in-touch'>

	</section>

</section>

</div>
<%# 
welcome
about me
checkout my work
get in touch %>
