%section.greeting
  .content
    %h1 Hi, I'm Brian
    .profile-pic-container
      = image_tag("brian1.png", :class => "profile-pic")
    %p.blurb
      I'm a junior full-stack web developer living in San Francisco. I just completed General Assembly's Web Development Immersive program, where I gained proficiency in Rails, SQL, HTML, CSS, HAML, JavaScript and jQuery.We also learned a bit of Angular.JS and Node.js and built apps with both.Before becoming a web developer, I worked in User Research and Creative Strategy, both of which inform my web development philosophy.
