%section.greeting
  .content
    %h1.section-title HI, I'M BRIAN!
    .profile-pic-container
      = image_tag("brian1.png", :class => "profile-pic")
    %p.blurb
      I'm a junior full-stack web developer living in San Francisco. I just completed General Assembly's Web Development Immersive program, where I gained proficiency in Ruby/Rails, HAML, HTML/CSS, SQL, JavaScript and jQuery. I'm currently learning Angular.JS and used it in my most recent app. Previously, I worked in User Research and Creative Strategy, both of which inform my web development approach. I'm looking to work for companies where I can help build awesome products and experiences and continue to learn new technologies. Looking forward to hearing from you!
