%section.greeting
  .content
    %h1.section-title HI, I'M BRIAN!
    .profile-pic-container
      = image_tag("brian1.png", :class => "profile-pic")
    %p.blurb
      I'm a full-stack web developer with a particular interest in UX and front-end development. I just completed General Assembly's Web Development Immersive program, where I gained proficiency in Ruby/Rails, HTML/CSS, JavaScript and jQuery. Previously, I worked in User Research and Creative Strategy, both of which inform my web development approach. I'm looking to work for companies where I can help build awesome products and continue to learn new technologies.     
