<div class='container'>
	
	<section class='greeting'>
		<div class='image'>
			<%= image_tag('market.png') %>
			<span>Hello, world.</span>
		</div>
		<p>Lorem some text some text Lorem</p>
	</section>
	
	<section class='about-me'>

	</section>
	<section class='work'>

	</section>

	<section class='get-in-touch'>

	</section>

</section>



<%# 
welcome
about me
checkout my work
get in touch %>
