%section.greeting
  .content
    %h1 Hi, I'm Brian
    %p
      I'm a web developer with extensive experience in Ruby on Rails, SQL, JavaScript, Angular.JS, Underscore.JS, Node.JS, HTML, CSS and HTML. I believe in creating beautiful, useful and unique web applications and have worked in User Research and Creative Strategy, which inform my web development philosophy.

