%section.greeting
  .content
    %h1 Hi, I'm Brian
    %p
      I have proficiency in Rails, SQL, HTML, CSS, HAML, JavaScript and jQuery. I am currently learning Angular.JS and love it. Before becoming a web developer, I worked in User Research and Creative Strategy, both of which inform my web development philosophy.

