%section.greeting
  .content
    %h1.section-title HI, I'M BRIAN!
    .profile-pic-container
      = image_tag("brian1.png", :class => "profile-pic")
    %p.blurb
      I'm a junior full-stack web developer living in San Francisco. I just completed General Assembly's Web Development Immersive program, where I gained proficiency in Rails, SQL, HTML, CSS, HAML, JavaScript and jQuery. I'm currently learning Angular.JS and used it one of my apps. Previously, I worked in User Research and Creative Strategy, both of which inform my development approach.
