%section.about-me
  %h1 Work
  %ul
    %li
      %a{:href => "http://www.tailorapp.com"}
      %p
        = image_tag("tailor1.png", :alt => 'www.tailorapp.com')
      %h2{:title => "Tailor"}
        %a{:href => "http://www.tailorapp.com"} Tailor Style Recommendation App
    %li
    %li
    %li
