%section.work
  .content
    %h1.work-title My Work
    %ul.work-examples
      %li
        = link_to "http://www.tailorapp.com" do 
          %h3.work-caption{:title => "Tailor"} Tailor Style Recommendation App
          %p
            = image_tag("tailor1.png", :alt => 'www.tailorapp.com')
      %li
      %li
      %li
