.contact-info{
  position: relative;
  margin-top: 135px;
}

.content .contact-page-links-list {
  margin: 0 0 0 0;
}

.contact-page-link-items a {
  color: rgba(114, 130, 140, 1);
  &:hover {
    color: rgba(114, 130, 140, 0.8);

  }
}
