// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0px;
	font-family: minion-pro, Georgia, Times new roman, serif;
	position: absolute;
}

a {
	text-decoration: none;
	color: #333;
	margin: 0px;
	font-size: 18px;
}

p {
	margin: 0;
}

.container {
	width: 100%;
	height: 100%;	
}

header {
	background: rgba(151, 198, 231, 1);
	font-family: helvetica, sans-serif;
	text-transform: uppercase;
	position: fixed;
	height: 100%;
	width: 350px;
	z-index: 999;
}

header nav {
	text-align: center;
	margin: 0;
}

.greeting, .about-me, .work, .contact {
	background: rgba(219, 225, 229, 1.0);
	width: 100%;
	height: 800px;
	margin: 0;
	text-align: center; 
}

h1 {
	padding: 0px;
	font-size: 45px;
	font-family: brandon-grotesque, Helvetica neue, Arial, sans-serif;
	border-bottom: 1px solid grey
}

h3 {
	text-transform: uppercase;
	font-weight: normal;
}

.greeting p {
	text-align: justify;
}

.image {
	position: relative;
	height: 480px;
	overflow: hidden;
}

.image img {
	display: inline-block;
	position: relative;
	height: auto;
	width: 100%;
	line-height: 1;
	-webkit-filter: blur(2px) opacity(0.9);
}

.about-me {
	background: white;
	width: 100%;
}

.about-me h1 {
	border: none;
	padding-top: 0;
	text-transform: uppercase; 
}

ul {
	list-style: none;
}

li {
	width: 33.3%;
	float: left;
	margin: 0;
	position: relative;
}

ul img {
	width: 100%;
	height: auto;
	float: left;
	&:hover { opacity: 0.8; }
}

.contact {
	background: white;
}
.contact h1 {
	border: none;
}
