// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
	margin: 0px;
	font-family: helvetica, sans-serif;
}

.container {
	width: 100%;
	position: absolute;
	top: 65px;
}

header {
	background: rgba(22, 160, 133, 0.9);
	font-family: helvetica, sans-serif;
	text-transform: uppercase;
	position: fixed;
	height: 65px;
	width: 100%;
	padding-bottom: 12px;
	margin: 0px auto 15px;
	z-index: 999;
/*	box-shadow: 0 10px 0 rgba(0,0,0,0.05);
*/}

header nav {
	max-width: 960px;
	text-align: center;
	padding-top: 32.5px;
	margin: 0 auto;
}

.greeting, .about-me, .work, .contact {
	width: 960px;
	height: 500px;
	margin: 0% auto;
	text-align: center; 
}

h1 {
	padding: 100px 0 10px;
	font-size: 45px;
	border-bottom: 1px solid grey
}

h3 {
	text-transform: uppercase;
	font-weight: normal;
	margin: -18px;
}

p {
	margin: 50px 22% 0 22%;
	text-align: justify;
}

.image {
	position: relative;
	height: 480px;
	overflow: hidden;
}

.image img {
	display: inline-block;
	position: relative;
	height: auto;
	width: 100%;
	line-height: 1;
	-webkit-filter: blur(2px) opacity(0.9);
}


.about-me {
	background: rgba(219, 225, 229, 1.0);
	width: 100%;
}

.about-me h1 {
	border: none;
	padding-top: 50px;
	text-transform: uppercase; 
}
