
.profile-pic {
   -moz-border-radius:15px;
   -webkit-border-radius:15px;
   border-radius:15px;
  margin-bottom: 22px;
  height: 365px;
  max-width: 365px;
}

.blurb {
  margin: 0 94px 5px 94px;
}

.created-by {
  font-size: 12px;
  margin-bottom: 1px;
  color: rgba(114, 130, 140, 0.9);

}

@media handheld, screen and (max-width: 520px){
  .profile-pic-container{
    width: 225px;
    margin: 0 auto;
  }

  .profile-pic {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
  }

  .blurb {
    width: 90%;
    margin: 0px auto 5px;
    line-height: 24px;
  }
}
