//HEADER 
header {
  background: rgba(44, 62, 80, 1);
  font-family: "roboto", sans-serif;
  text-transform: uppercase;
  position: fixed;
  height: 100%;
  width: 350px;
  z-index: 999;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 35px;
  color: white;
  h1 {
    font-style: normal;
    color: #8CC6FF;
  }
}

.name-title {
  color: white;
}

.view-links {
  position: absolute;
  margin-top: 125px;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 19px;
  a {
      text-decoration: none;
      color: white;
  }
  li:hover {
    background-color: white;
    a {
      color: rgba(114, 130, 140, 1);
    }
  }
}

//SOCIAL LINKS NAV
.social-links {
  position: absolute;
  width: 100%;
  top: 90%;
  .social-icon-list {
    margin: 0;
    li {
      display: inline;
      i{
        padding: 0 5px 0 9px;
      }
      a:hover{
        background-color: rgba(250, 250, 250, 1);
        color: rgba(114, 130, 140, 1);
        border-radius: 25%;
      }
    }
    li:hover{
    background-color: rgba(44, 62, 80, 1);
    }
  }
}

@media handheld, screen and (max-width: 1000px){
  header {
    width: 265px;
  }

}

@media handheld, screen and (max-width: 810px){
  header {
    position: relative;
    min-height: 225px;
    width: auto;
    z-index: 999;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 35px;
    h1 {
      margin: 0px;
      padding-top: 10px;
      font-size: 35px;
    }
  }

  .view-links {
    margin-top: 15px;
  }

  .social-links {
    position: absolute;
    width: 100%;
    top: 83%;
    .social-icon-list {
     i {
        padding: 0 30px 0 15px;
      }
    }
  }
}

@media handheld, screen and (max-width: 520px){
  header {
    min-height: 130px;
    width: 100%;
    z-index: 999;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 35px;
    h1 {
      margin: 0px;
      padding-top: 6px;
      font-size: 24px;
    }
  }

  .view-links {
    margin-top: 4px;
    ul {
      font-size: 16px;
      line-height: 24px;
      li:hover {
        background-color: transparent;
        color: white;
        a:hover {
          color: white;
        }
      } 
    }
  }


  .social-links {
    display: none;
    }
}
