
//HEADER 
header {
  background: rgba(44, 62, 80, 1);
  font-family: "roboto", sans-serif;
  text-transform: uppercase;
  position: fixed;
  height: 100%;
  width: 350px;
  z-index: 999;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 35px;
  color: white;
}

.view-links {
  position: relative;
  margin-top: 40px;
  h1 {
    color: white;
  }
}

ul {
  margin: 45% 0 0 0;
  padding: 0;
  list-style: none;
  font-size: 19px;
  a {
      text-decoration: none;
      color: white;
  }
  li:hover {
    background-color: white;
    a {
      color: rgba(114, 130, 140, 1);
    }
  }
}


//SOCIAL LINKS NAV
.social-links {
  position: absolute;
  width: 100%;
  top: 90%;
  .social-icon-list {
    margin: 0;
    li {
      display: inline;
      i{
        padding: 0 5px 0 9px;
      }
      a:hover{
        background-color: rgba(250, 250, 250, 1);
        color: rgba(114, 130, 140, 1);
        border-radius: 25%;
      }
    }
    li:hover{
    background-color: rgba(44, 62, 80, 1);
    }
  }
}
