//WORK 

.work-title {
  margin: 5% 0 5% 0;
  font-size: 45px;
}

ul.work-examples {
  margin: 0px;
  h3.work-caption {
    margin-bottom: 1px;
    font-weight: 400;
  }
  a{
    color: rgba(150, 150, 150, 1);
  }
}

li {
  &:hover 
  img {
    border-radius: 5%;
    &:hover { opacity: 0.8;
    }
  }
}

.project-image{
  margin-bottom: 20px;
  border: rgba(150, 150, 150, 1) solid 5px;
  border-radius: 5%;
}


